@import url(./reset.css);
@import url(./base.css);


.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 0;
}
.logo {
    display: flex;
    align-items: center;
    gap: 15px;  
}
.logo__img {
    width: 200px;
    height: 52px;
}
.logo__title {
    width: 287px;
    line-height: 1.4;
}
.contact {
    text-align: center;
}
.contact__tel {
    font-size: 35px;
}
.contact__tel:hover {
    text-decoration: underline;
}
.contact__line {
    position: relative;
    padding: 0 15px;
}
.contact__line::before {
    position: absolute;
    content: '';
    height: 1px;
    width: 100%;
    top: 50%;
    left: 0;
    background-color: #000;
    z-index: 0;
}
.contact__circle {
    display: inline-block;
    position: relative;
    z-index: 20;
    padding: 0 15px;
    background: #fff;
}

.header__bottom {
    background: #eeeeee;
    box-shadow: 0 1px 0 0 rgba(191, 197, 201, 0.4);

    padding: 18px 0;
}
.nav {
}
.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 0 20px;

    font-size: 14px;
}